/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #193769;
  --color-text-main: #eaebed;
  --color-primary: #01aed9;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  color: inherit;
}
[hidden] {
  display: none !important;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, .button {
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid white;
  background: transparent;
  box-shadow: 0 0 20px black;
  transition: background 500ms;
  padding: 1px 6px;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("/IMSAband/public/Grotesk-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("/IMSAband/public/Grotesk-Bold.otf") format("opentype");
  font-display: swap;
}

/* Navigation grid */
.footer {
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

.footer a:link,
.footer a:visited {
  font-family: HK Grotesk sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body, html {
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text-main);
  overflow: overlay;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 .8rem;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}
ul > li,
ol > li {
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}
ul.reset, ol.reset {
  list-style-type: none;
}

/* Link styles */
a {
  text-decoration: none;
}
.content a {
  border-bottom: 6px solid var(--color-primary);
  transition: background 0.2s linear;
}
.content a:hover {
  background: var(--color-primary);
}

/* Title style adjustments */
.title-lg {
  color: var(--color-text-main);
  font-family: HK Grotesk sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
}
.title-md {
  font-size: 56px;
}

/* Accessibility styles, adapted from https://css-tricks.com/how-to-create-a-skip-to-content-link/ */
.skip-to-content {
  background: #e77e23;
  height: 30px;
  top: -1px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 99999;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

/******************************************************************************
START IMSA band styles
******************************************************************************/

details {
  width: fit-content;
}

.perfect-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* Parallax Stuff */
.parallax-container {
  height: 14rem;
  width: 100vw;
  clip-path: inset(0);
  overflow: hidden;
}
.parallax {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.hero {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sm {
  width: 100vw;
  height: 14rem!important;
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.65);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}


/* region Navbar Styles */
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 97vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 1;
  background: rgba(0, 0,0, 0.5);
  width: 100vw;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  transition: box-shadow .15s ease-in-out;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  color: var(--color-text-main);
  font-size: 15pt;
}
.collapse:not(.show) {
  display: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  line-height: normal;
}

.social {
  display: flex;
}
.social img {
  height: 1em;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* endregion */
