<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if eleventy.env.NODE_ENV == "production"  %}
      <meta http-equiv='Content-Security-Policy' content="default-src 'none'; script-src 'self' https://www.googletagmanager.com; connect-src https://www.google-analytics.com; style-src 'self' 'unsafe-inline'; img-src 'self' *; font-src 'self';">
    {% endif %}
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ '/public/style.css' | url }}" />
    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPWGF8HK8P"></script>
    <script src="{{ '/public/global.js' | url }}"></script>
    {% seo "" %}
    <style>
      .social img {
        height: 1em;
      }

      .footer {
        background-color: black;
      }

      button {
        border-radius: 0.25rem;
        border: 1px solid white;
        background: transparent;
        box-shadow: 0 0 20px black;
        transition: background 500ms;
      }

      /* Navbar Styles */
      @media (min-width: 768px) {
        .navbar-expand-md {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-md .navbar-collapse {
          display: flex!important;
          flex-basis: auto;
        }
        .navbar-expand-md .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-md .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-md .navbar-toggler {
          display: none;
        }
      }

      .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 97vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        z-index: 1;
      }
      .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
      }
      .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        transition: box-shadow .15s ease-in-out;
      }
      .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
      .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        color: var(--color-text-main);
      }
      .collapse:not(.show) {
        display: none;
      }
      .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
      }
      .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a href="{{ '/' | url }}" class="navbar-brand">{% img '/public/bandlogo.png', "IMSA band logo" %}</a>
      <a href="{{ ('javascript:history.back()' if page.url == '/pages/' else '/pages/') | url }}"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">☰</span>
      </button></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for navPage in collections.pages %}
            <li class="nav-item" {% if page.url == navPage.url %} aria-current="page"{% endif %}>
              <a href="{{ navPage.url | url }}" class="nav-link">{{ navPage.data.title }}</a>
            </li>
          {% endfor %}
          <li class="nav-item social">
            <a href="https://www.youtube.com/user/IMSAschool/search?query=concert" target="_blank" rel="noopener noreferrer"><img src="{{ '/public/youtube.svg' | url }}"></a>
            <a href="https://www.facebook.com/IMSA-Music-Parents-Page-105564110884454/" target="_blank" rel="noopener noreferrer"><img src="{{ '/public/facebook.svg' | url }}"></a>
          </li>
        </ul>
      </div>
    </nav>

    {{ content | safe }}

    <footer class="footer">
      {% img '/public/titans.jpg', 'IMSA Titans logo', {style: 'max-width: 100%; object-fit: contain'} %}
    </footer>
   
  </body>
</html>