---js
{
  layout: "layouts/page.njk",
  templateClass: "tmpl-concert",
  pagination: {
    data: "dates",
    size: 1,
    addAllPagesToCollections: true,
    generatePageOnEmptyData: true  // TODO: need >= v2.0.0 for this to work
  },
  dates: [],
  eleventyComputed: {
    date: "{{ pagination.items[0] }}",  // must use this wierd syntax per https://github.com/11ty/eleventy/issues/1649
    permalink: "{{ page.filePathStem | replace('/index', '') }}/{{ pagination.items[0] | htmlDateString }}/index.html"
  }
}
---

<!-- concert -->
<p style="font-weight: bold">{{ date | htmlDateString }} (<span id="rel-time"></span>)</p>

{% if testdata.length > 0 %}
  <p style="font-weight: bold">
    Previous Years:
    {%- for item in pagination.items %}
      <a>{{ item }}</a>
    {% endfor -%}
  </p>
{% endif %}

{{ content | safe }}
<script>
  const formatter = new Intl.RelativeTimeFormat('en-US', {
    numeric: 'auto'
  });
  const daysAgo = Math.floor((new Date("{{ date | htmlDateString }}") - new Date()) / 8.64e+7);  // Convert ms to days
  document.getElementById("rel-time").innerText = daysAgo < 0 ? formatter.format(Math.floor(daysAgo / 31), 'month') : formatter.format(daysAgo, 'day')
</script>
<!-- /concert -->
