---
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>
    body {
      /* Existing styles here */
      perspective: 4px; /* The depth */
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .wrapper, .content {
        transform-style: preserve-3d;
    }

  .parallax-container {
    /* Full height */
    height: 100vh;
    width: 100vw;
    position: relative;

    perspective: 1px;
    transform-style: preserve-3d;
    /*perspective-origin: 0 0;*/
  }

  .parallax {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-2px) scale(3);
      z-index: -1;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    {%- for post in collections.posts -%}
      {% if (loop.index <= 3 and page.url != post.url) %}
        <div class="parallax-container perfect-center">
          <div class="parallax" style="background-image: url('{{ post.data.hero }}')"></div>
          <div>{{ post.data.page.date | htmlDateString }} — <a href='{{ post.url }}'>{{ post.data.title }}</a></div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>


