---
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>
  * {
    text-shadow: 0 0 20px black;
  }

  button:hover {
      background: white;
      color: black
  }
</style>

<div class="home">
  <div class="parallax-container perfect-center">
    {% img '/public/no-img.png', "", {className: "parallax hero hero-sm"} %}
    <h1>Home of the IMSA musicians!</h1>
  </div>
  <div>
    {% for post in collections.posts.reverse() %}
      {% if (loop.index <= 5 and page.url != post.url) %}
        {# TODO: would be cool if I could apply inset box shadows (currently the image covers them up) #}
        <div class="parallax-container perfect-center" style="height: 100vh;">
          <div style="text-align: center;max-width: 900px;">
            <h1>{{ post.data.title }}</h1>
            <h3>{{ post.data.description }}</h3>
            <div>{{ post.data.page.date | htmlDateString }} &nbsp;&nbsp;&nbsp;&nbsp; <a href='{{ post.url | url }}'><button>Read More</button></a></div>
          </div>
          {% img post.data.hero, "", {className: "parallax hero"} %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
