---
layout: layouts/base.njk
templateClass: tmpl-page
hero: /public/no-img.png
---

<style>
  .post {
    place-items: normal;
  }
  .postTitle {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  }

  /* Preview Card styles */
  @media (min-width: 768px) {
    .wrapper {
      flex-direction: row!important;
      gap: 1em;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .suggestions {
    gap: 1rem;
  }
  .suggestions * {
    margin: 0;
  }
</style>
<link rel="stylesheet" type="text/css" href="{{ '/public/card.css' | url }}" />

<div class="parallax-container">
  {% img hero, "", {className: "parallax hero hero-sm"} %}
</div>
<div class="wrapper post">
  <div class="content">
    <h1 class='postTitle'>{{title}}</h1>

    {{ content | safe }}
  </div>
  <div class="suggestions" style="display: flex; flex-direction: column; align-items: center; flex-grow: 1;">
    {% if prevPost.url %}
      <h3>Previous post:</h3>
      {% card prevPost.data.page.filePathStem %}
    {% endif %}
    {% if nextPost.url %}
      <h3>Next post:</h3>
      {% card nextPost.data.page.filePathStem %}
    {% endif %}

    {% if related.length > 1 %}
      <h3>Related:</h3>
    {% endif %}
    {% for suggestion in related %}
      {% card suggestion %}
    {% endfor %}
  </div>
</div>
