---
layout: layouts/base.njk
templateClass: tmpl-home
hero: /public/no-img.png
---

<div class="parallax-container">
  {% img hero, "", {className: "parallax hero hero-sm"} %}
</div>
<div class="wrapper">
  <div class="content">
    {{ content | safe }}
  </div>
</div>
