---
layout: layouts/base.njk
templateClass: tmpl-post
hero: /public/no-img.png
---

<style>
  .post {
    place-items: normal;
  }
  .postTitle {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  }
  .controls {
    margin: 3rem 0 2rem;
  }
</style>

<div class="parallax-container">
  {% img hero, "", {className: "parallax hero hero-sm"} %}
</div>
<div class="wrapper post">
  <div>
    <h1 class='postTitle'>{{title}}</h1>

    {{ content | safe }}
    <div class="controls">
      {% if prevPost.url %}
        <p>
          <strong>Previous post</strong>:
          <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        </p>
      {% endif %}
      {% if nextPost.url %}
        <p>
          <strong>Next post</strong>:
          <a class="next" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>