---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<link rel="stylesheet" type="text/css" href="{{ '/public/card.css' | url }}" />
<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
  </div>
  <div style="display: flex; gap: 1em; flex-wrap: wrap">
    {%- for post in collections.all | reverse -%}
      {% card post.data.page.filePathStem %}
    {%- endfor -%}
  </div>
</div>