---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<link rel="stylesheet" type="text/css" href="{{ '/public/card.css' | url }}" />
<div class="wrapper home">
  <div class="content">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div>
  <div style="display: flex; gap: 1em; flex-wrap: wrap">
    {% for post in collections[collection] %}
      {% if post.url != page.url %}
        {{ post.data.page | log }}
        {% card post.data.page %}
      {% endif %}
    {% endfor %}
  </div>
</div>