---
layout: layouts/base.njk
templateClass: tmpl-home
hero: /public/no-img.png
---

<div class="hero hero-sm" style="background-image: url('{{ hero |url }}')"></div>
<div class="wrapper post">
  <div>
    <h1 class='postTitle'>{{title}}</h1>

    {{ content | safe }}
    <div class="controls">
    {% if prevPost.url %}
      <p>
        <strong>Previous post</strong>: 
        <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
    {% if nextPost.url %}
      <p>
        <strong>Next post</strong>: 
        <a class="next" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>