---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<!-- posts -->
<link rel="stylesheet" type="text/css" href="{{ '/public/card.css' | url }}" />
<div class="wrapper home">
  <div class="content">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div>
  <div class="postContainer">
    {% for post in collections[collection] %}
      {% if post.url != page.url %}
        {% card post.data.page %}
      {% endif %}
    {% endfor %}
    {# TODO: I wish I could combine njk block with 11ty front matter :/ #}
  </div>
</div>

<style>
/* Big thanks to https://stackoverflow.com/a/60870221 */
.postContainer {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    padding: initial;
    justify-content: center;
}
</style>
<!-- /posts -->
