---
title: 404
layout: layouts/base.njk
description: Page not found
permalink: 404.html
---

<div class="perfect-center" style="width: 100vw; height: 100vh;">
  <h1>404 Page not Found</h1>
  {# Image credit: https://www.theguardian.com/music/2017/dec/01/what-can-we-learn-from-an-orchestra-of-broken-instruments #}
  {% img "/public/broken-violin.png", "broken violin" %}
  <span id="blurb">
    <noscript>
      It's not the reed :(
    </noscript>
  </span>
</div>

<script>
  function choose(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
  }

  document.getElementById("blurb").innerText = choose([
      "Try a different reed",
      "It's not the reed :(",
      "I think you need some valve oil",
      "Your valve is stuck",
      "The timpanis haven't been tuned",
      "Sounds a tad flat",
      "Sounds a tad sharp",
      "Yikes",
  ]);
</script>
