---
permalink: /ical.ics
eleventyExcludeFromCollections: true
---
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//funblaster22//IMSA band//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
NAME:IMSA performances
{#DESCRIPTION:A description of my calendar#}
{% for event in collections.posts %}
{% set url = site.url + (event.url | url) %}
{% set date = event.data.date | icalDateString %}
BEGIN:VEVENT
SUMMARY:{{event.data.title | safe}}
UID:{{ event.url }}
SEQUENCE:0
STATUS:CONFIRMED
TRANSP:TRANSPARENT
DTSTART:{{ date }}
DTEND:{{ date }}
DTSTAMP:{{ date }}
CATEGORIES:{{ event.data.tags.join(",") }}
{#LOCATION:Illinois Mathematics and Science Academy#}
DESCRIPTION:{{event.data.description | safe}}\n\n{{url}}
{#CREATED:20210827T230427Z#}
URL:{{ url }}
END:VEVENT
{% endfor %}
END:VCALENDAR